@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-background: #020b0b;
  --color-foreground: #ffffff;
  --color-primary: #3bb079;

  --font-heading: "Montserrat", ui-sans-serif, system-ui;
  --font-sans: "Open Sans", ui-sans-serif, system-ui;
}

@layer base {
  body {
    @apply font-heading;
  }
  .title {
    @apply text-4xl lg:text-5xl;
  }
  .subtitle {
    @apply text-base lg:text-xl tracking-wide;
  }
  .container-home {
    @apply bg-cover bg-top-right w-full h-full min-h-screen;
    background-image: url("https://imagedelivery.net/EXhaUxjEp-0lLrNJjhM2AA/5ff49818-c6d5-4f36-32b1-63538def2500/public");
  }
}

@layer components {
  .btn-primary {
    @apply inline-flex items-center justify-center rounded-full border-2 font-light bg-primary border-none text-white px-14 py-2.5 hover:opacity-90 focus:outline-none focus:ring-2 focus:ring-primary;
  }
  .btn-secondary {
    @apply inline-flex items-center justify-center rounded-full border-2 border-primary text-primary px-4 py-2 hover:opacity-90 focus:outline-none focus:ring-1 focus:ring-primary;
  }
}

/* === Floating animations (exageradas) === */

@layer utilities {
  /* sube y baja suave ~24px */
  @keyframes float-lg {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-24px);
    }
  }

  /* sube y baja suave ~48px */
  @keyframes float-xl {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-48px);
    }
  }
  .animate-floatY-lg {
    animation: floatY-lg 16s ease-in-out infinite;
  }
  .animate-floatY-xl {
    animation: floatY-xl 22s ease-in-out infinite;
  }
}
