@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  overflow-x: hidden;
  background: #0c1317;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
* {
  font-family: 'Montserrat', sans-serif !important;
}
.container-homePrincipal {
  background-image: url('/UltimoFondo.png');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  padding: 0;
  min-height: 100vh;
}
.container-homePrincipal2{
  background-image: url('https://imagedelivery.net/EXhaUxjEp-0lLrNJjhM2AA/5ff49818-c6d5-4f36-32b1-63538def2500/public');
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  padding: 0;
  min-height: 100vh;
}
/* input:focus {
  outline: none;
  border: none;
 
} */
input {
  outline: none;
  border: none;
}
textarea {
  outline: none;
  border: none;
}
  .slider-container {
    width: auto;
    display: flex;
    flex-direction: column;
    border: 2px solid #e0e0e0;
    border-radius: 25px;
  
    padding: 25px 5px;
    
    
  }
  .slider-container.dark{
    background-color: #161f21;
  }
  .slider-container.light{
    background-color: white;
  }
  .slider-item{
    display: flex;
    margin: 5px 10px;
  }
  .no-slider-container{
    width: 95%;
    display: flex;
    border-radius: 25px;
    background-color: white;
    justify-content: space-around;
    padding: 10px 5px;
  }
  
  .slider-label {
    
    color: #333;
    align-self: center !important;
    font-weight: 500;
    width: 180px;
  }
  .slider-label span{
    font-size: 0.8rem !important; 
    text-align: center !important;
    
  }
  .slider-wrapper {
    position: relative;
    height: 30px;
    display: flex;
    align-items: center;
    width: 80%;
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    outline: none;
    z-index: 2;
    margin: 0;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 4px;
    height: 20px;
    border-radius: 2px;
    background: #05c46b;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s;
  }
  
  .slider.dragging::-webkit-slider-thumb {
    transform: scaleX(1.5);
  }
  
  .slider::-moz-range-thumb {
    width: 4px;
    height: 20px;
    border-radius: 2px;
    background: #05c46b;
    cursor: pointer;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s;
  }
  
  .slider.dragging::-moz-range-thumb {
    transform: scaleX(1.5);
  }
  
  .slider-track {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    height: 4px;
    background-color: #e0e0e0;
    border-radius: 10px;
    z-index: 1;
  }
  
  .slider-progress {
    position: absolute;
    height: 100%;
    background-color: #05c46b;
    border-radius: 1px;
  }
/* ComponentsTable.css */
.components-container {
 
  border-radius: 25px;
  padding: 20px;
  border: 2px solid #e0e0e0;
  flex: 1;
  margin-top: 30px;
  
}

.span-total-summary{
  display: flex;

  margin-left: auto;
  margin-right: 0px;

  justify-content: flex-end;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 20px;
}
.edit-comp{
  cursor: pointer;
  margin: 5px;
  transition: transform 0.3s ease-out
}
.edit-comp:hover{
  transform: translateY(-3px)
}
.components-table {
  width: 100%;
  border-spacing: 0 12px;
  text-align: left;
}
.components-table th,
.components-table td {
  padding: 12px;
  text-align: left;
  background-color: #f5f5f5; /* Mueve el background-color aquí */
}
.components-table th {
  font-weight: 500;
  color: #333;
  font-size: 14px;
}
.components-table td {
  margin: 10px 0px;
  font-size: 14px;
  color: #333;
}

/* Bordes redondeados para las celdas de las esquinas */
.row-components td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.row-components td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* --- Estilos para la fila desplegable --- */

/* La fila principal para indicar que es clickeable */
.row-components {
  cursor: pointer; /* Cambia el cursor para indicar que es clickeable */
  transition: background-color 0.3s ease; /* Transición para el hover */
}

.row-components:hover {
  background-color: #e0e0e0; /* Un color más oscuro al pasar el mouse */
}

/* La fila que contiene el contenido adicional */
.expanded-row td {
  padding: 0 12px; /* Espaciado horizontal, vertical 0 inicialmente */
  background-color: #ebebeb; /* Un color de fondo ligeramente diferente */
  border-bottom-left-radius: 10px; /* Redondea las esquinas inferiores de la fila desplegada */
  border-bottom-right-radius: 10px;
}

/* Contenedor del contenido que se expande */
.expanded-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out, opacity 0.5s ease-out, padding 0.5s ease-out;
  opacity: 0;
  padding: 0; /* Asegúrate de que no haya padding inicial */
}
.expanded-content h3, .expanded-content p{
  justify-content: center;
  margin: 0px !important;
}
.success-work a{
  display: flex !important;
  color: #05c46b !important;
  justify-content: center !important;
  font-weight: bold;
 
}
.failed-work a{
  display: flex !important;
  color: #ff2424 !important;
  justify-content: center !important;
  font-weight: bold;
 
}

/* Cuando la fila está expandida, el contenido se muestra */
.expanded-row .expanded-content {
  max-height: 200px; /* O un valor lo suficientemente grande para contener tu contenido */
  opacity: 1;
  padding: 12px; /* Añade padding cuando está expandido */
}

/* Opcional: Para una separación visual más clara si la fila principal y la expandida tienen fondos similares */
.expanded-row {
  margin-top: -12px; /* Para "pegar" la fila expandida a la principal si usas border-spacing en la tabla */
  /* Asegúrate de que el border-radius de la fila superior no se vea afectado si se superpone */
}

/* Si quieres que las esquinas superiores de la fila principal también se redondeen cuando está abierta */
/* .row-components.expanded td:first-child {
  border-bottom-left-radius: 0;
}
.row-components.expanded td:last-child {
  border-bottom-right-radius: 0;
} */






/* Contenedor de la información expandida */
.pipeline-info-container {
  display: flex;
  flex-direction: column;
  margin-top: -8px; 
  margin-bottom: 8px;
  padding: 16px 24px;
  background-color: #f5f5f5;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px !important;
  
}
.pipeline-info-container a{
  margin-top: 5px;
}


.pipeline-info {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #333;
  font-size: 14px;
}

.success-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #0ea97a;
  color: white;
  font-size: 14px;
}

.pipeline-text {
  color: #0ea97a;
  white-space: nowrap;
}

.pipeline-link {
  color: #0ea97a;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Status badges */
.status-badge {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
  font-weight: 500;
}

.status-badge.done {
  color: #0ea97a;

}

.status-badge.building {
  color: #f6a609;
 
}

.status-badge.build {
  color: white;
  background-color: #0ea97a;
  padding: 5px 15px;
}

.check-icon {
  margin-right: 5px;
  font-size: 12px;
}







/* Action buttons */
.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.build-all-button {
  background-color: white;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 8px 30px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.build-all-button:hover {
  background-color: #f5f5f5;
}

.continue-button {
  background-color: #1cbbf3;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 30px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.continue-button:hover {
  background-color: #0aa6e0;
}